/*wordless white theme*/

.top-section {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9) 30%, rgba(255, 255, 255, 0.7) );

}

.button, .button:visited, .button:focus, .button:hover, input[type="text"],.navbar h1.navbar-brand, .navbar h1.navbar-brand:hover {
      border-color: black;
      color: black;
}

.navbar h1.navbar-brand {
    background-image: url("../img/icon1-black.svg");
}

.button, .button:visited, .button:focus{
    background: none;
}

