/*styles for wordless*/

@import url(http://fonts.googleapis.com/css?family=Nunito);

/*layout
----------------------------*/

body {
    height: 100%;
    /*background-color : #777;*/
}

.container {
    max-width: 1000px;
}

.form-section {
    padding-top: 70px;
    background-color: grey;
}

/* nav bar
--------------------------------------------------*/
.navbar {
    height: 60px;
    
}

.navbar h1.navbar-brand {
    font-size: 36px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding: 0;
}

/* input fields
------------------------------------------------*/
form {
    text-align: center;
    padding:0;
    margin: 40px 0;
}
input {
    font-size: 48px;
}

input[type="text"]{
    padding-left: 0.5em;
}
input[type="submit"]{
    padding: 0 0.5em;
}

/* drawing space
-------------------------------------------------*/
.centered {
    float: none;
    margin: 0 auto;
}

#graph-container {
    /*border: 1px solid red;*/

}


/* Stuff for SVG. */
line {
    stroke-width: 3;
}


rect {
    fill: none;
}

.node {
    /*stroke: #fff;*/
    /*stroke-width: 2;*/
}

.link {
    stroke: #CECECE;
    stroke-opacity: .6;
}*/