/*styles for wordless*/

/*fonts
-----------------------------------------------------------------*/

/*@font-face {
    font-family: "Droid sans";
}*/
@import url(http://fonts.googleapis.com/css?family=Nunito);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

/*layout
----------------------------*/

body {
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(221, 221, 221, 0.6), rgba(255, 220, 0, 0.5) 10%, rgba(255, 220, 0, 0.5)90%, rgba(221, 221, 221, 0.6)), 
    url("../img/textures/graph.png");
    font-family: "Droid sans", sans-serif;
    color: white;
}

.container {
    max-width: 1000px;
}

.form-section {
   /* padding-top: 60px;*/
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9) 30%, rgba(0, 0, 0, 0.7) );
/* background-color: rgba(0, 0, 0, 0.8);*/
    /*rgba(130, 200, 155, 0.5)*/
}

/* nav bar
--------------------------------------------------*/
.navbar {
    height: 60px;
    /*box-shadow: 3px 0 5px 1px #eee;*/
    margin-bottom: 0;
    background: #000;
    border: none;
    border-radius: 0;

}

.navbar h1.navbar-brand {
    font-size: 36px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding: 0;
}

/* input fields
------------------------------------------------*/
form {
    text-align: center;
    padding:0;
    margin: 50px 0;
}
input {
    font-size: 48px;
}

input[type="text"]{
    padding-left: 0.5em;
    margin-right: 0.5em;
    border-width: 0 0 3px 0;
    background:none;
    border-color: white;
}
.btn-primary {
    border-radius: 0.25em;
    padding: 0 0.5em;
    border: 3px solid white;
    background: none;
    outline: none;
    line-height: 48px;

/*    border-width: 0 0 3px 0 ;
    border-color: grey;*/
}

input[type="text"]:focus, .btn-primary:hover {
    background-color: rgba(200, 200, 200, 0.1);
    outline: none;
}


.btn-primary {
    border-radius: 0.25em;
    padding: 0 0.5em;
    border: 3px solid white;
    background: none;
    outline: none;
    font-size: 36px;
/*    border-width: 0 0 3px 0 ;
    border-color: grey;*/
}

.btn-primary:hover {
    border-color: white;

}
.btn-primary:active, {
    background-color: white;
    color: black;
}
/* drawing space
-------------------------------------------------*/
.centered {
    float: none;
    margin: 0 auto;
}

#graph-container {
 /*   border: 1px solid red;*/

}


/* Stuff for SVG. */
line {
    stroke-width: 3;
}


rect {
    fill: none;
}

.node {
    /*stroke: #fff;*/
    /*stroke-width: 2;*/
}

.link {
    stroke: #CECECE;
    stroke-opacity: .6;
}


/* icons
-------------------------------------------------*/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?m6pf92');
    src:url('../fonts/icomoon.eot?#iefixm6pf92') format('embedded-opentype'),
        url('../fonts/icomoon.woff?m6pf92') format('woff'),
        url('../fonts/icomoon.ttf?m6pf92') format('truetype'),
        url('../fonts/icomoon.svg?m6pf92#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /*line-height: 1;*/

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*.icon-arrow-right:before {
    : "\e600";
}*/
.icon-arrow-right2:before {
    content: "\e601";
}
.icon-arrow-right3:before {
    content: "\e602";
}



