body {
    background-color : #777;
}

form{
    margin: 0px 30px;
}

.title-text {
    font-size: 90px;
    font-family: 'Over the Rainbow', cursive;
}

.centered{
    float: none;
    margin: 0 auto;
}

#graph-container {
    margin: 20px;

}


/* Stuff for SVG. */
line {
    stroke-width: 3;
}


rect {
    fill: none;
}

.node {
    /*stroke: #fff;*/
    /*stroke-width: 2;*/
}

.link {
    stroke: #CECECE;
    stroke-opacity: .6;
}